* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #13162b;
  display: grid;
  place-items: center;
}
.container {
  position: relative;
  width: 80vmin;
  background-color: #191c37;
  padding: 100px 40px;
  border-radius: 9px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
}
.container:after {
  content: "";
  position: absolute;
  width: 85%;
  left: 7.5%;
  height: 120%;
  bottom: -10%;
  background-color: #8a2be2;
  z-index: -1;
  border-radius: 8px;
}

.text{
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 70px;
  color: #ffffff;
  padding-top: 30px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.buttons button {
  width: 130px;
  padding: 15px 0;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
button.inc,
button.dec {
  background-color: #8a2be2;
  color: #ffffff;
}
button.reset {
  background-color: transparent;
  border: 4px solid #8a2be2;
  color: #f2f5f8;
}